
<div id="navigation_panel" style="display: none;">
    <h3 class="mt-4">Topics</h3>
    <div class="row gx-0">
      <div class="col-sm-4">
        <p>Go step by step</p>
      </div>
      <div class="col-sm-2">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
      </div>
    </div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="how_to_use">How to use</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="questions">Questions</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="prob_goal">Problem vs Goal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="psycho_of_mind">Psychology of Mind</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="humn_do_calc"> Human Mind do calculations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="how_smart_do_calc">How smart people do calculations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="problem_solver">Problem Solver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="memory_builder">Memory Builder (Your  RAM) <i class="fa fa-refresh" aria-hidden="true"></i></a>
        <ul class="nav flex-column nav-sublist" id="memory_builder_sub" style="display: block;">
          <li class="nav-item">
              <a class="nav-link" href="#" id="see_memorize_write">See-Memorize-Write</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" id="mind_hand_synchronize">Mind-Hand-Synchronize <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="mind_twist">Mind Twist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="see_memorize_calculate">See-Memorize-Calculate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="question_in_memory">Question in Memroy</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="#" id="exercise">Exercise</a>
        <ul class="nav flex-column nav-sublist" id="exercise_sub" style="display: none;">
          <li class="nav-item">
              <a class="nav-link" href="#" id="single_x_single">Single x Single</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" id="single_x_double">Single x Double</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="double_x_double">Double x Double</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="single_x_triple">Single x Triple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="double_x_triple">Double x Triple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="custom_x_digit"> Customize</a>
          </li>
        </ul>
      </li>
    </ul>

</div>