<!--single_x_single-->
          <div class="container mt-3 exercise_cls"  id="single_x_single_container" style="display: block;"> 
            <h2>Slower = Faster</h2>
            <div class="card">
              <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (single x single)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="single_x_single_slct" style="text-align-last: center;" class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                  <div class="col-auto float-end">
                    <div >
                      <div id="countdownClock" class="countdown-clock">
                        <span id="countdownNumber">10</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container mt-3" id="single_x_single_panel"  style="background-color: rgb(235 235 235);">
                 <label for="integerInput" class="form-label">   <span id="single_x_single_Q1"></span>&nbsp;<span id="single_x_single_op"></span>&nbsp;<span id="single_x_single_Q2"></span></label>
                 <input type="number" class="form-control answr_cls " id="single_x_single_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                <br/>
                </div>
                <br/>
                <!--  <button type="button" id="single_x_single_start_btn" class="btn btn-dark">Start</button> -->
              </div> 
              <div class="card-footer" style=" background-color: #d2e0e4;">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--single_x_double-->
          <div class="container mt-3 exercise_cls" id="single_x_double_container" style="display: none;"> 
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (single x double)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="single_x_double_slct" style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="single_x_double_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput" class="form-label">   <span id="single_x_double_Q1"></span>&nbsp;<span id="single_x_double_op"></span>&nbsp;<span id="single_x_double_Q2"></span></label>
                  <input type="number" class="form-control answr_cls " id="single_x_double_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                <br/></div>
                <br/>
               <!-- <button type="button" id="single_x_double_start_btn" class="btn btn-dark">Start</button> -->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--single_x_triple-->
          <div class="container mt-3 exercise_cls" id="single_x_triple_container" style="display: none;">
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (single x triple)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="single_x_triple_slct"  style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="single_x_triple_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput" class="form-label">   <span id="single_x_triple_Q1"></span>&nbsp;<span id="single_x_triple_op"></span>&nbsp;<span id="single_x_triple_Q2"></span></label>
                  <input type="number" class="form-control answr_cls " id="single_x_triple_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                  <br/>  </div>
                <br/>
                <!--  <button type="button" id="single_x_triple_start_btn" class="btn btn-dark">Start</button> -->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--double_x_double -->
          <div class="container mt-3 exercise_cls" id="double_x_double_container" style="display: none;">
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (double x double)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="double_x_double_slct" style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="double_x_double_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput"  class="form-label ">   <span id="double_x_double_Q1"></span>&nbsp;<span id="double_x_double_op"></span>&nbsp;<span id="double_x_double_Q2"></span></label>
                  <input type="number" class="form-control  answr_cls " id="double_x_double_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                  <br/>   </div>
               
                <!--  <button type="button" id="double_x_double_start_btn" class="btn btn-dark">Start</button>-->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--double_x_triple-->
          <div class="container mt-3 exercise_cls" id="double_x_triple_container" style="display: none;">
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (double x triple)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="double_x_triple_slct" style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="double_x_triple_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput" class="form-label">   <span id="double_x_triple_Q1"></span>&nbsp;<span id="double_x_triple_op"></span>&nbsp;<span id="double_x_triple_Q2"></span></label>
                  <input type="number" class="form-control answr_cls " id="double_x_triple_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                  <br/>  </div>
             
               <!--  <button type="button" id="double_x_triple_start_btn" class="btn btn-dark">Start</button> -->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--triple_x_triple -->
          <div class="container mt-3 exercise_cls" id="triple_x_triple_container" style="display: none;">
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. (triple x triple)</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="triple_x_triple_slct" style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="triple_x_triple_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput" class="form-label">   <span id="triple_x_triple_Q1"></span>&nbsp;<span id="triple_x_triple_op"></span>&nbsp;<span id="triple_x_triple_Q2"></span></label>
                  <br/>   <input type="number" class="form-control answr_cls " id="triple_x_triple_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                </div>
               
              <!--   <button type="button" id="triple_x_triple_start_btn" class="btn btn-dark">Start</button> -->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--customize-->
          <div class="container mt-3 exercise_cls" id="custom_x_digit_container" style="display: none;">
            <h2>Slower = Faster</h2>
            <div class="card">
              <div <div class="card-header text-center" style=" background-color: #d2e0e4;">0 Level. Build Patience. customize</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-auto">
                    <select id="custom_x_digit_slct" style="text-align-last: center; " class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Select Operation</option>
                      <option value="1">+</option>
                      <option value="2">-</option>
                      <option value="3">x</option>
                      <option value="3">/</option>
                    </select>
                  </div>
                </div>
                <div class="container mt-3" id="custom_x_digit_panel" style="background-color: rgb(235 235 235);">
                  <label for="integerInput" class="form-label">   <span id="custom_x_digit_Q1"></span>&nbsp;<span id="custom_x_digit_op"></span>&nbsp;<span id="custom_x_digit_Q2"></span></label>
                  <input type="number" class="form-control answr_cls " id="custom_x_digit_input" placeholder="your answer" step="1" style="width: 20%;display:none">
                  <br/>  </div>
                
             <!--      <button type="button" id="custom_x_digit_start_btn" class="btn btn-dark">Start</button>  -->
              </div> 
              <div class="card-footer">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Check Your Patience</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>