<div class="container mt-3 memory_builder_cls"  id="memory_buider_container" style="display: block;"> 
    <h2 class="mt-5"  >RAM <span class="material-symbols-outlined">memory</span></h2>
    <div class="card">
      <div class="card-header text-center" style=" background-color: #d2e0e4;">
        Improve RAM (Random Access Memory)
      </div>
      <div class="card-body">
        <div class="row" id="SMW_digit_selection" >
          <div class="col-3 text-center">
              <a href="#" id="RAM_single" class="see_memorize_write" style="font-size: small;">Single Digit</a>
          </div>
          <div class="col-3 text-center">
              <a href="#" id="RAM_double" class="see_memorize_write" style="font-size: small;">Double Digit</a>
          </div>
          <div class="col-3 text-center">
              <a href="#" id="RAM_triple" class="see_memorize_write" style="font-size: small;">Triple Digit</a>
          </div>
          <div class="col-3 text-center">
              <a href="#" id="RAM_mixed" class="see_memorize_write" style="font-size: small;">Mixed</a>
          </div>
        </div>
        <br/>
        <div id="RAM_start_Panel" >
          <div style="background-color:#f1f1ff;" class="text-center">
            <span style="font-size: smaller;"> You will be shown 5 single Digit numbers for 5 seconds. You will have to write in same order in 5 seconds.</span>
          </div> 
          <br/>
          <div class="text-center">
            <button type="button" id="RAM_start_btn" class="btn btn-dark btn-sm"><span style="font-size: small;">Click Start</span></button>
          </div>
        </div>
        <div id="RAM_challenge_Panel" style="display: none;">
          <span id="RAM_random_num"></span>
          <div class="text-center">
            <button type="button" id="RAM_end_btn" class="btn btn-dark btn-sm"><span style="font-size: small;">End</span></button>
          </div>
        </div>
      </div> 
      <div class="card-footer" style=" background-color: #d2e0e4;">
        <div class="container-fluid">
          <div class="row">
           
          </div>
        </div>
      </div>
    </div>
  </div>